<!-- Hero Start -->
<section class="bg-home bg-circle-gradiant d-flex align-items-center">
  <div class="bg-overlay bg-overlay-white"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8">
        <div class="card shadow rounded border-0 mt-4">
          <div class="card-body">
            <h4 class="card-title text-center">Signup</h4>

            @if(registraionError) {
            <div class="alert bg-soft-danger fw-medium mt-3" role="alert">
              <i class="uil uil-exclamation-octagon fs-5 align-middle me-1"></i>
              {{ errorMessage }}
            </div>
            }

            <form class="login-form mt-4" [formGroup]="signupForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label"
                      >First name <span class="text-danger">*</span></label
                    >
                    <div class="form-icon position-relative">
                      <i-feather
                        name="user"
                        class="fea icon-sm icons"
                      ></i-feather>
                      <input
                        type="text"
                        class="form-control ps-5"
                        placeholder="First Name"
                        formControlName="first_name"
                        [ngClass]="{
                          'is-invalid':
                            controls['first_name'].touched &&
                            controls['first_name'].errors
                        }"
                      />
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label"
                      >Last name <span class="text-danger">*</span></label
                    >
                    <div class="form-icon position-relative">
                      <i-feather
                        name="user-check"
                        class="fea icon-sm icons"
                      ></i-feather>
                      <input
                        type="text"
                        class="form-control ps-5"
                        placeholder="Last Name"
                        formControlName="last_name"
                        [ngClass]="{
                          'is-invalid':
                            controls['last_name'].touched &&
                            controls['last_name'].errors
                        }"
                      />
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label"
                      >Your Email <span class="text-danger">*</span></label
                    >
                    <div class="form-icon position-relative">
                      <i-feather
                        name="mail"
                        class="fea icon-sm icons"
                      ></i-feather>
                      <input
                        type="email"
                        class="form-control ps-5"
                        placeholder="Email"
                        formControlName="email"
                        [ngClass]="{
                          'is-invalid':
                            controls['email'].touched &&
                            controls['email'].errors
                        }"
                      />
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label"
                      >Password <span class="text-danger">*</span></label
                    >
                    <div class="form-icon position-relative">
                      <i-feather
                        name="key"
                        class="fea icon-sm icons"
                      ></i-feather>
                      <input
                        type="password"
                        class="form-control ps-5"
                        placeholder="Password"
                        formControlName="password"
                        [ngClass]="{
                          'is-invalid':
                            controls['password'].touched &&
                            controls['password'].errors
                        }"
                      />
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-md-12">
                  <div class="d-grid">
                    <button
                      class="btn btn-primary"
                      (click)="onRegisterUser()"
                      [disabled]="registring"
                    >
                      @if (registring) {
                      <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      } @else { Register }
                    </button>
                  </div>
                </div>
                <!--end col-->

                <!-- <div class="col-lg-12 mt-4 text-center">
                  <h6>Or Signup With</h6>
                  <div class="row">
                    <div class="col-6 mt-3">
                      <div class="d-grid">
                        <a href="javascript:void(0)" class="btn btn-light"><i class="mdi mdi-facebook text-primary"></i>
                          Facebook</a>
                      </div>
                    </div>

                    <div class="col-6 mt-3">
                      <div class="d-grid">
                        <a href="javascript:void(0)" class="btn btn-light"><i class="mdi mdi-google text-danger"></i>
                          Google</a>
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="mx-auto">
                  <p class="mb-0 mt-3">
                    <small class="text-dark me-2"
                      >Already have an account ?</small
                    >
                    <a routerLink="/auth/login" class="text-dark fw-bold"
                      >Sign in</a
                    >
                  </p>
                </div>
              </div>
              <!--end row-->
            </form>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->
